[submodule "Carthage/Checkouts/iOSClientDownload"]
	path = Carthage/Checkouts/iOSClientDownload
	url = https://github.com/EricssonBroadcastServices/iOSClientDownload.git
[submodule "Carthage/Checkouts/iOSClientExposure"]
	path = Carthage/Checkouts/iOSClientExposure
	url = https://github.com/EricssonBroadcastServices/iOSClientExposure.git
